@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #000000;

}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff; /* ← возможно, здесь ты хотел чёрный в тёмной теме? */
    --foreground: #000000;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}

.pt-16 {
  overflow: hidden;
}

html {
  scroll-behavior: smooth;
}